# Carga de datos a través de la función read_csv

In [16]:
import pandas as pd
import os

In [22]:
mainpath = "F:/BD/GitHub/mlearningcourse/datasets/"
titanic3 = "titanic/titanic3.csv"
# Option 1
# fullpath = mainpath + titanic3 
# Option 2
fullpath =os.path.join(mainpath,titanic3)

In [23]:
data1 =pd.read_csv(fullpath)

In [24]:
data1.head(1)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"

In [25]:
#Read TXT
data2 =pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt")

In [27]:
data2.head(1)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.

In [28]:
#Column names
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [30]:
#To add names titles (headers)
data_cols = pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Columns.csv")
data_cols_lists = data_cols['Column_Names'].tolist()
data_cols_lists

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']

In [33]:
#To assign different column names a dataframe
data2 =pd.read_csv(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt", 
                  header = None, names = data_cols_lists)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Cargar datos a través de la función Open

In [85]:
#Python Method (helpful to use with Big Data)
#A ) CONNECT
# 'r'    <--- Just to read (w, rw)
data3 = open(mainpath+"/"+"customer-churn-model/Customer Churn Model.txt", "r")

In [86]:
#Read fragments of the data set (Number of columns)
cols = data3.readline().strip().split(',')
ncols = len(cols)
ncols

21

In [87]:
#Read fragments of the data set (Number of rows)
counter = 0
main_dict={}
for col in cols:
    main_dict[col]=[]

In [88]:
main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [89]:
for line in data3:
    values = line.strip().split(',')
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print ("El data set tiene %d filas y %d columnas" %(counter, ncols))

El data set tiene 3333 filas y 21 columnas

In [91]:
df3 = pd.DataFrame(main_dict)
df3.head(1)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.

# Leer y copiar en otro archivo con otra separación (método open)

In [96]:
infile = mainpath+"/"+"customer-churn-model/Customer Churn Model.txt"
outfile =  mainpath+"/"+"customer-churn-model/Tab Customer Churn Model.txt"

In [97]:
#Reemplazamos separadores con coma, por separadores por tabulador (\t)
#r = leer (read), w = escribrir (write)
with open(infile, 'r') as infile1:
    with open(outfile, 'w') as outfile1:
        for line in infile1:
            fields = line.strip().split(',')
            outfile1.write('\t'.join(fields))
            outfile1.write('\n')

In [98]:
df4 = pd.read_csv(outfile, sep = '\t')
df4.head(1)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.

# Leer datos desde una URL

In [180]:
# medals_url = "http://winterolympicsmedals.com/medals.csv"
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [159]:
# http = urllib3.PoolManager()
# r = http.request('GET', medals_url)
# print ("El estado de la respuesta es: " + r.status)
# response= r.data

# #Convertir el objeto (string binario ), convertir a string decodoficado en UTF-8
# str_data = response.decode('utf')

In [174]:
def downloadFromURL(url, mainpath, filename, sep = ",", delim = "\n", encoding="utf-8"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    import pandas as pd
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
#     mainpath = "F:/BD/GitHub/mlearningcourse/outputTom/"
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: " + fullpath)
    
    return df

In [181]:
#Parámetros downloadFromURL(URL, MAINPATH, FILENAME, sep = ",", delim = "\n", encoding="utf-8"):
medals_df = downloadFromURL(medals_url,"F:/BD/GitHub/mlearningcourse/outputTom/","medals")
medals_df.head(1)

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: F:/BD/GitHub/mlearningcourse/outputTom/medals

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver

# Ficheros XLS y XLSX

In [144]:
import pandas as pd

In [150]:
mainpath = "F:/BD/GitHub/mlearningcourse/datasets/"
titanicxls = "titanic/titanic3.xls"
titanicxlsx = "titanic/titanic3.xlsx"

In [151]:
# To indicate the name of the excel tab ('titanic3 is the tab name')
titanicxls = pd.read_excel(mainpath+"/"+titanicxls, 'titanic3')

In [152]:
# To indicate the name of the excel tab ('titanic3 is the tabname')
titanicxlsx = pd.read_excel(mainpath+"/"+titanicxlsx, 'titanic3')

In [154]:
# To convert xls to csv
titanicxls.to_csv(mainpath+"/"+"titanic/titanic_custom_csv.csv")

In [155]:
# To convert xlsx to xls
titanicxlsx.to_csv(mainpath+"/"+"titanic/titanic_custom_xls.xls")

In [158]:
# To create Json Files
titanicxls.to_json(mainpath+"/"+"titanic/titanic_custom_json.json")