# K Nearest Neighbors

In [23]:
import numpy as np
from sklearn import preprocessing,  neighbors
import pandas as pd

In [9]:
# Importar dataset
df = pd.read_csv('https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/cancer/breast-cancer-wisconsin.data.txt',
                header = None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [11]:
# Acceder a la columna 1
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [13]:
# Cambiar nombres de las columnas
df.columns=['name', 
            'V1',
            'V2',
            'V3',
            'V4',
            'V5',
            'V6',
            'V7',
            'V8',
            'V9',
            'class']

In [14]:
# Head del dataset con nombres actualizados
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [15]:
# Elimina primera columna, axis = 1
df = df.drop(['name'],1)

In [35]:
# Reemplazar los simbolos de interrogación 
df.replace('?',-9999, inplace = True)   # Le ponemos un número negativo muy grande para que no se ajuste en el modelo

In [36]:
# Determinar variable a predecir
Y = df['class']

In [37]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'class'], dtype='object')

In [38]:
# Seleccionar variables predictoras
X = df[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9']]

In [39]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [40]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

# Clasificador de los K vecinos

#### Definir sets de entrenamiento y test

In [41]:
# Importar librería para dividir el dataset
from sklearn.model_selection import train_test_split

In [42]:
# Indicar tamaño del dataset de entrenamiento
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                    test_size=0.2,   # Tamaño del test = 20%
                                                    random_state=0)

In [43]:
# Crear variable a ajustar
clf = neighbors.KNeighborsClassifier()

In [44]:
# Correr modelo (fit)
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [47]:
# Probar precisión
accuracy = clf.score(X_test, Y_test)
accuracy

0.9857142857142858

# Clasificar nuevos datos

In [50]:
# Introducir datos aleatorios para probar confiabilidad predictiva
sample_measure = np.array([4,2,1,1,1,2,3,2,1])

In [51]:
# Hacer reshape del modelo para poder pasar por parámetro
sample_measure = sample_measure.reshape(1,-1)

In [52]:
predict = clf.predict(sample_measure)

In [54]:
#[2 benigna, 4 maligna]
# En la predicción dice que es benigna
predict

array([2], dtype=int64)

#### Segundo ejercicio con dos entradas de parámetros

In [57]:
# Introducir datos aleatorios para probar confiabilidad predictiva
sample_measure_2 = np.array([[4,2,1,1,1,2,3,2,1], [4,2,1,1,1,2,3,2,1]]).reshape(2,-1)   # 2 = 2 columnas
predict = clf.predict(sample_measure_2)
predict

array([2, 2], dtype=int64)

#### Nuevamente predice un 2 para cada entrada de datos